<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384950942350-l07jab9mhv55ijppq10e7f6qnc3645nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384950942350-l07jab9mhv55ijppq10e7f6qnc3645nh</string>
	<key>API_KEY</key>
	<string>AIzaSyBi7kpj8IWyJlYGeg9mRwnPwLDNiDvChI0</string>
	<key>GCM_SENDER_ID</key>
	<string>384950942350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Shruti.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>loginproject-8d90b</string>
	<key>STORAGE_BUCKET</key>
	<string>loginproject-8d90b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384950942350:ios:9788e30e5b3ef52cb327df</string>
</dict>
</plist>